@page
@model SetDefaultValuesTest.Pages.InitializerPageModel
@{
}
<h1>@Model.CurrentContent.Heading</h1>
<p>@Model.CurrentContent.Preamble</p>
<hr />
<p>Page name: @Model.CurrentContent.Name (id: @Model.CurrentContent.ContentLink.ID)</p>