@page
@model SetDefaultValuesTest.Pages.SetDefaultValuesPageModel
@{
}
<h1>@Model.CurrentContent.Heading</h1>
<h2>@Model.CurrentContent.SubHeading</h2>
<hr />
<p>Page name: @Model.CurrentContent.Name (id: @Model.CurrentContent.ContentLink.ID)</p>